/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    color: #007bff;
  }
  
  main {
    padding: 20px;
  }
  
  .toggle-btn {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .toggle-btn button {
    margin: 0 10px;
  }
  
  .form-section {
    display: none;
  }
  
  .form-section.active {
    display: block;
  }
  
  /* Estilos específicos para el formulario */
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  