{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime culpa molestiae ab commodi saepe molestias porro nemo iste. Sunt sequi non saepe modi ea, iure ducimus. Labore sint dicta dolor.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, iure ratione. Animi iusto quis laudantium! Facilis, quo aut. Maiores debitis quo doloremque laboriosam eum eaque, consectetur quasi ipsum velit excepturi!</p>
    <div class="media-options">
        <a href="#" class="field google">
            <img src="{% static 'img/google_icon.png' %}" alt="" class="google-img">
            <span>Login with Google</span>
        </a>
    </div>

</body>
</html>