<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime culpa molestiae ab commodi saepe molestias porro nemo iste. Sunt sequi non saepe modi ea, iure ducimus. Labore sint dicta dolor.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic adipisci dignissimos facilis ratione quidem unde ad architecto ipsa laudantium impedit natus quo assumenda saepe consectetur nam laboriosam nulla, accusantium vitae.</p>
</body>
</html>