{% load static%}
<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Responsive Login and Signup Form </title>
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
         
        <link type="text/css" href="@@path/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
        
    </head>
    <body>
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Login</header>
                    <form action="/verificar" method="get"><!--action verificar tiene que ser el mismo que el nombre de la funcion method get es por el cual obtenemos-->
                        <div class="field input-field">
                            <input type="email" placeholder="Email" class="input" name="correo"><!-- el name es como puedes acer referencia a ello desde la funcion "%r" %request.GET["contrasenia"]-->
                        </div>
                        <div class="field input-field">
                            <input type="password" placeholder="Password" class="password" name="contrasenia">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>
                        <div class="form-link">
                            <a href="#" class="forgot-pass">Forgot password?</a>
                        </div>
                        <div class="field button-field">
                            
                            <input type="submit" name="verificar">
                            
                            <!--<button>Login</button>-->

                        </div>
                    </form>
                    <div class="form-link">
                        <span>Don't have an account? <a href="#" class="link signup-link">Signup</a></span>
                    </div>
                </div>
                <div class="line"></div>
                <div class="media-options">
                    <a href="#" class="field facebook">
                        <i class='bx bxl-facebook facebook-icon'></i>
                        <span>Login with Facebook</span>
                    </a>
                </div>
                <div class="media-options">
                    <a href="#" class="field google">
                        <img src="{% static 'img/google_icon.png' %}" alt="" class="google-img">
                        <span>Login with Google</span>
                    </a>
                </div>
            </div>
            <!-- Signup Form -->
            <div class="form signup">
                <div class="form-content">
                    <header>Signup</header>
                    <form action="#">
                        <div class="field input-field">
                            <input type="email" placeholder="Email" class="input">
                        </div>
                        
                        <div class="field input-field">
                            <input type="password" placeholder="Create password" class="password">
                        </div>
                        <div class="field input-field">
                            <input type="password" placeholder="Confirm password" class="password">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>
                        <div class="field button-field">
                            <button>Signup</button>
                        </div>
                    </form>
                    <div class="form-link">
                        <span>Already have an account? <a href="#" class="link login-link">Login</a></span>
                    </div>
                </div>
                <div class="line"></div>
                <div class="media-options">
                    <a href="#" class="field facebook">
                        <i class='bx bxl-facebook facebook-icon'></i>
                        <span>Login with Facebook</span>
                    </a>
                </div>
                <div class="media-options">
                    <a href="#" class="field google">
                        <img src="#" alt="" class="google-img">
                        <span>Login with Google</span>
                    </a>
                </div>
            </div>
        </section>
        <!-- JavaScript -->
        <script src="{%static 'js/login.js'%}"></script>
        <script src="@@path/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
    </body>
</html>
